{{ ansible_managed | comment }}

server.port: {{ osd_port }}
server.host: 0.0.0.0
{% if os_cluster['osd_basepath'] is defined and os_cluster['osd_basepath'] | length > 0 and os_cluster['osd_basepath'] != '/' %}
server.basePath: {{ os_cluster['osd_basepath'] }}
server.rewriteBasePath: true
{% endif %}
opensearch.hosts:
{% for item in os_node_arr %}
  - {{ item }}
{% endfor %}
logging.dest: /var/log/opensearch-dashboards/opensearch-dashboards.log

{% if os_secured %}
server.ssl.enabled: true
server.ssl.certificate: {{ osd_conf_dir }}/kibana.pem
server.ssl.key: {{ osd_conf_dir }}/kibana-key.pem
{% if os_cluster['auth']['saml_auth_domain'] is defined %}
opensearch_security.auth.type: "saml"
{% if os_version is version('2.0.0', '>') %}
server.xsrf.allowlist:
{% else %}
server.xsrf.whitelist:
{% endif %}
  - "/_plugins/_security/saml/acs/idpinitiated"
  - "/_plugins/_security/saml/acs"
  - "/_plugins/_security/saml/logout"
  - "/_opendistro/_security/saml/acs"
  - "/_opendistro/_security/saml/logout"
{% endif %}
{% if os_cluster['auth']['openid'] is defined %}
# opensearch.url: https://{{ ansible_host }}:{{ osd_port }}
opensearch_security.openid.base_redirect_url: https://{{ ansible_host }}:{{ osd_port }}
opensearch_security.auth.type: openid
opensearch_security.openid.connect_url: {{ os_cluster['auth']['openid']['connect_url'] }}
opensearch_security.openid.client_id: {{ os_cluster['auth']['openid']['client_id'] }}
opensearch_security.openid.client_secret: {{ os_cluster['auth']['openid']['client_secret'] }}
{% endif %}
opensearch.ssl.certificateAuthorities: {{ osd_conf_dir }}/root-ca.pem
opensearch.ssl.verificationMode: none
opensearch.username: {{ os_cluster['kibana_user'] }}
opensearch.password: "{{ os_cluster['kibana_password'] }}"
opensearch.requestHeadersWhitelist: [authorization,securitytenant]
opensearch_security.cookie.secure: true
opensearch_security.multitenancy.enabled: true
opensearch_security.multitenancy.tenants.preferred: [Private,Global]
opensearch_security.readonly_mode.roles: [kibana_read_only]
{% endif %}
